In [137]:
import pandas as plt
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

In [173]:
cricketDf = pd.read_csv('cricket_data_2025.csv')

In [174]:
cricketDf

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,Half_Centuries,Fours,Sixes,Catches_Taken,Stumpings,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
0,NaN,Aaron Hardie,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats
1,2024.0,Abdul Samad,16,2,182,37*,18.2,108,168.52,0,0,15,11,9,0,16,0,0,0,0,0,0,0,0,0
2,2023.0,Abdul Samad,9,4,169,37*,42.25,128,132.03,0,0,10,11,4,0,9,0,0,0,0,0,0,0,0,0
3,2022.0,Abdul Samad,2,0,4,4,2.0,7,57.14,0,0,0,0,1,0,2,6,8,0,0/8,0,8.00,0,0,0
4,2021.0,Abdul Samad,11,1,111,28,12.33,87,127.58,0,0,4,8,8,0,11,6,9,1,1/9,9.00,9.00,6.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,2016.0,Yuzvendra Chahal,13,0,0,0,0.00,0.0,0.00,0,0,0,0,4,0,13,295,401,21,4/25,19.09,8.15,14.04,1,0
1004,2015.0,Yuzvendra Chahal,15,2,1,1*,0.00,1.0,100.00,0,0,0,0,4,0,15,281,415,23,3/40,18.04,8.86,12.21,0,0
1005,2014.0,Yuzvendra Chahal,14,2,1,1*,0.00,1.0,100.00,0,0,0,0,3,0,14,330,386,12,2/17,32.16,7.01,27.50,0,0
1006,2013.0,Yuzvendra Chahal,1,0,0,0,0.00,0.0,0.00,0,0,0,0,0,0,1,24,34,0,0/34,0,8.5,0,0,0
1007,NaN,Zeeshan Ansari,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats

In [91]:
cricketDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 957 non-null    float64
 1   Player_Name          1008 non-null   object
 2   Matches_Batted       1008 non-null   object
 3   Not_Outs             1008 non-null   object
 4   Runs_Scored          1008 non-null   object
 5   Highest_Score        1008 non-null   object
 6   Batting_Average      1008 non-null   object
 7   Balls_Faced          1008 non-null   object
 8   Batting_Strike_Rate  1008 non-null   object
 9   Centuries            1008 non-null   object
 10  Half_Centuries       1008 non-null   object
 11  Fours                1008 non-null   object
 12  Sixes                1008 non-null   object
 13  Catches_Taken        1008 non-null   object
 14  Stumpings            1008 non-null   object
 15  Matches_Bowled       1008 non-null   object
 16  Balls_Bowled         1008 non-null   object
 17  Runs_Conceded        1008 non-null   object
 18  Wickets_Taken        1008 non-null   object
 19  Best_Bowling_Match   1008 non-null   object
 20  Bowling_Average      1008 non-null   object
 21  Economy_Rate         1008 non-null   object
 22  Bowling_Strike_Rate  1008 non-null   object
 23  Four_Wicket_Hauls    1008 non-null   object
 24  Five_Wicket_Hauls    1008 non-null   object
dtypes: float64(1), object(24)
memory usage: 197.0+ KB

In [92]:
cricketDf.columns

Index(['Year', 'Player_Name', 'Matches_Batted', 'Not_Outs', 'Runs_Scored',
       'Highest_Score', 'Batting_Average', 'Balls_Faced',
       'Batting_Strike_Rate', 'Centuries', 'Half_Centuries', 'Fours', 'Sixes',
       'Catches_Taken', 'Stumpings', 'Matches_Bowled', 'Balls_Bowled',
       'Runs_Conceded', 'Wickets_Taken', 'Best_Bowling_Match',
       'Bowling_Average', 'Economy_Rate', 'Bowling_Strike_Rate',
       'Four_Wicket_Hauls', 'Five_Wicket_Hauls'],
      dtype='object')

In [175]:
cricketDf.isnull().sum()

Year                   51
Player_Name             0
Matches_Batted          0
Not_Outs                0
Runs_Scored             0
Highest_Score           0
Batting_Average         0
Balls_Faced             0
Batting_Strike_Rate     0
Centuries               0
Half_Centuries          0
Fours                   0
Sixes                   0
Catches_Taken           0
Stumpings               0
Matches_Bowled          0
Balls_Bowled            0
Runs_Conceded           0
Wickets_Taken           0
Best_Bowling_Match      0
Bowling_Average         0
Economy_Rate            0
Bowling_Strike_Rate     0
Four_Wicket_Hauls       0
Five_Wicket_Hauls       0
dtype: int64

In [176]:
cricketDf['Year'] = pd.to_numeric(cricketDf['Year'], errors='coerce').fillna(0).astype(int)

In [95]:
cricketDf['Year'].head

<bound method NDFrame.head of 0          0
1       2024
2       2023
3       2022
4       2021
        ...
1003    2016
1004    2015
1005    2014
1006    2013
1007       0
Name: Year, Length: 1008, dtype: int64>

In [96]:
cricketDf.isnull().sum()

Year                   0
Player_Name            0
Matches_Batted         0
Not_Outs               0
Runs_Scored            0
Highest_Score          0
Batting_Average        0
Balls_Faced            0
Batting_Strike_Rate    0
Centuries              0
Half_Centuries         0
Fours                  0
Sixes                  0
Catches_Taken          0
Stumpings              0
Matches_Bowled         0
Balls_Bowled           0
Runs_Conceded          0
Wickets_Taken          0
Best_Bowling_Match     0
Bowling_Average        0
Economy_Rate           0
Bowling_Strike_Rate    0
Four_Wicket_Hauls      0
Five_Wicket_Hauls      0
dtype: int64

In [97]:
cricketDf

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
0,0,Aaron Hardie,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,...,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats
1,2024,Abdul Samad,16,2,182,37*,18.2,108,168.52,0,...,16,0,0,0,0,0,0,0,0,0
2,2023,Abdul Samad,9,4,169,37*,42.25,128,132.03,0,...,9,0,0,0,0,0,0,0,0,0
3,2022,Abdul Samad,2,0,4,4,2.0,7,57.14,0,...,2,6,8,0,0/8,0,8.00,0,0,0
4,2021,Abdul Samad,11,1,111,28,12.33,87,127.58,0,...,11,6,9,1,1/9,9.00,9.00,6.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,2016,Yuzvendra Chahal,13,0,0,0,0.00,0.0,0.00,0,...,13,295,401,21,4/25,19.09,8.15,14.04,1,0
1004,2015,Yuzvendra Chahal,15,2,1,1*,0.00,1.0,100.00,0,...,15,281,415,23,3/40,18.04,8.86,12.21,0,0
1005,2014,Yuzvendra Chahal,14,2,1,1*,0.00,1.0,100.00,0,...,14,330,386,12,2/17,32.16,7.01,27.50,0,0
1006,2013,Yuzvendra Chahal,1,0,0,0,0.00,0.0,0.00,0,...,1,24,34,0,0/34,0,8.5,0,0,0
1007,0,Zeeshan Ansari,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,...,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats

In [177]:
cricketDf['Matches_Batted'] = pd.to_numeric(cricketDf['Matches_Batted'], errors="coerce")
cricketDf['Not_Outs'] = pd.to_numeric(cricketDf['Not_Outs'], errors="coerce")

In [178]:
cricketDf['Matches_Batted'].isnull().sum()
cricketDf['Not_Outs'].isnull().sum()

np.int64(51)

In [179]:
cricketDf['Matches_Batted'] = cricketDf['Matches_Batted'].fillna(0).astype(int)
cricketDf['Not_Outs'] = cricketDf['Not_Outs'].fillna(0).astype(int)

In [101]:
cricketDf

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
0,0,Aaron Hardie,0,0,No stats,No stats,No stats,No stats,No stats,No stats,...,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats
1,2024,Abdul Samad,16,2,182,37*,18.2,108,168.52,0,...,16,0,0,0,0,0,0,0,0,0
2,2023,Abdul Samad,9,4,169,37*,42.25,128,132.03,0,...,9,0,0,0,0,0,0,0,0,0
3,2022,Abdul Samad,2,0,4,4,2.0,7,57.14,0,...,2,6,8,0,0/8,0,8.00,0,0,0
4,2021,Abdul Samad,11,1,111,28,12.33,87,127.58,0,...,11,6,9,1,1/9,9.00,9.00,6.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,2016,Yuzvendra Chahal,13,0,0,0,0.00,0.0,0.00,0,...,13,295,401,21,4/25,19.09,8.15,14.04,1,0
1004,2015,Yuzvendra Chahal,15,2,1,1*,0.00,1.0,100.00,0,...,15,281,415,23,3/40,18.04,8.86,12.21,0,0
1005,2014,Yuzvendra Chahal,14,2,1,1*,0.00,1.0,100.00,0,...,14,330,386,12,2/17,32.16,7.01,27.50,0,0
1006,2013,Yuzvendra Chahal,1,0,0,0,0.00,0.0,0.00,0,...,1,24,34,0,0/34,0,8.5,0,0,0
1007,0,Zeeshan Ansari,0,0,No stats,No stats,No stats,No stats,No stats,No stats,...,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats

### So far, Dealt with Year, Player_Name, Matches_Batted, Not_Outs

In [180]:
cricketDf['Runs_Scored'] = pd.to_numeric(cricketDf['Runs_Scored'], errors='coerce').fillna(0).astype(int)

In [181]:
cricketDf['Runs_Scored'].head(20)

0       0
1     182
2     169
3       4
4     111
5     111
6       0
7       9
8     114
9     108
10    484
11    226
12    426
13     98
14     71
15      9
16     63
17    327
18     33
19      0
Name: Runs_Scored, dtype: int64

In [105]:
cricketDf

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
0,0,Aaron Hardie,0,0,0,No stats,No stats,No stats,No stats,No stats,...,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats
1,2024,Abdul Samad,16,2,182,37*,18.2,108,168.52,0,...,16,0,0,0,0,0,0,0,0,0
2,2023,Abdul Samad,9,4,169,37*,42.25,128,132.03,0,...,9,0,0,0,0,0,0,0,0,0
3,2022,Abdul Samad,2,0,4,4,2.0,7,57.14,0,...,2,6,8,0,0/8,0,8.00,0,0,0
4,2021,Abdul Samad,11,1,111,28,12.33,87,127.58,0,...,11,6,9,1,1/9,9.00,9.00,6.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,2016,Yuzvendra Chahal,13,0,0,0,0.00,0.0,0.00,0,...,13,295,401,21,4/25,19.09,8.15,14.04,1,0
1004,2015,Yuzvendra Chahal,15,2,1,1*,0.00,1.0,100.00,0,...,15,281,415,23,3/40,18.04,8.86,12.21,0,0
1005,2014,Yuzvendra Chahal,14,2,1,1*,0.00,1.0,100.00,0,...,14,330,386,12,2/17,32.16,7.01,27.50,0,0
1006,2013,Yuzvendra Chahal,1,0,0,0,0.00,0.0,0.00,0,...,1,24,34,0,0/34,0,8.5,0,0,0
1007,0,Zeeshan Ansari,0,0,0,No stats,No stats,No stats,No stats,No stats,...,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats

In [182]:
cricketDf['Batter_Not_Out'] = cricketDf['Highest_Score'].str.contains('\*')
cricketDf['Highest_Score'] = pd.to_numeric(cricketDf['Highest_Score'].str.replace("*","", regex=False), errors='coerce').astype("Int64")

<>:1: SyntaxWarning: invalid escape sequence '\*'
<>:1: SyntaxWarning: invalid escape sequence '\*'
C:\Users\asusr\AppData\Local\Temp\ipykernel_14448\3822541677.py:1: SyntaxWarning: invalid escape sequence '\*'
  cricketDf['Batter_Not_Out'] = cricketDf['Highest_Score'].str.contains('\*')

In [183]:
cricketDf['Highest_Score'] = cricketDf['Highest_Score'].fillna(0)
cricketDf['Highest_Score'].head(20)

0      0
1     37
2     37
3      4
4     28
5     33
6      0
7      8
8     42
9     43
10    75
11    67
12    75
13    33
14    31
15     5
16    46
17    65
18    20
19     0
Name: Highest_Score, dtype: Int64

In [184]:
# testing the split cols [highest score and batter not out]
cricketDf.groupby('Player_Name')[['Highest_Score','Batter_Not_Out']].sum()

                  Highest_Score  Batter_Not_Out
Player_Name
Aaron Hardie                  0               0
Abdul Samad                 139               2
Abhinandan Singh              0               0
Abhinav Manohar              93               0
Abhishek Sharma             332               3
...                         ...             ...
Yash Thakur                   0               0
Yashasvi Jaiswal            380               1
Yudhvir Singh                15               0
Yuzvendra Chahal             24               5
Zeeshan Ansari                0               0

[227 rows x 2 columns]

In [ ]:
cricketDf #

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,Half_Centuries,Fours,Sixes,Catches_Taken,Stumpings,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls,Batter_Not_Out
0,0,Aaron Hardie,0,0,0,0,0.00,0,0.00,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,False
1,2024,Abdul Samad,16,2,182,37,18.20,108,168.52,0,0,15,11,9,0,16,0,0,0,0,0,0,0,0,0,True
2,2023,Abdul Samad,9,4,169,37,42.25,128,132.03,0,0,10,11,4,0,9,0,0,0,0,0,0,0,0,0,True
3,2022,Abdul Samad,2,0,4,4,2.00,7,57.14,0,0,0,0,1,0,2,6,8,0,0/8,0,8.00,0,0,0,False
4,2021,Abdul Samad,11,1,111,28,12.33,87,127.58,0,0,4,8,8,0,11,6,9,1,1/9,9.00,9.00,6.00,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,2016,Yuzvendra Chahal,13,0,0,0,0.00,0,0.00,0,0,0,0,4,0,13,295,401,21,4/25,19.09,8.15,14.04,1,0,False
1004,2015,Yuzvendra Chahal,15,2,1,1,0.00,1,100.00,0,0,0,0,4,0,15,281,415,23,3/40,18.04,8.86,12.21,0,0,True
1005,2014,Yuzvendra Chahal,14,2,1,1,0.00,1,100.00,0,0,0,0,3,0,14,330,386,12,2/17,32.16,7.01,27.50,0,0,True
1006,2013,Yuzvendra Chahal,1,0,0,0,0.00,0,0.00,0,0,0,0,0,0,1,24,34,0,0/34,0,8.5,0,0,0,False
1007,0,Zeeshan Ansari,0,0,0,0,0.00,0,0.00,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,False

### So far, Dealt with Year, Player_Name, Matches_Batted, Not_Outs, Runs_Scored, <br>Highest_Score [new col: Batter_Not_Out]

In [185]:
cricketDf['Batting_Average'] = pd.to_numeric(cricketDf['Batting_Average'], errors="coerce").astype(float)
cricketDf['Batting_Average'].dtype

cricketDf['Balls_Faced'] = pd.to_numeric(cricketDf['Balls_Faced'], errors="coerce").astype("Int64")
cricketDf['Balls_Faced'] = cricketDf['Balls_Faced'].fillna(0)

cricketDf['Balls_Faced'] = pd.to_numeric(cricketDf['Balls_Faced'], errors="coerce").astype("Int64")

cricketDf['Batting_Strike_Rate'] = pd.to_numeric(cricketDf['Batting_Strike_Rate'], errors="coerce").astype(float)
cricketDf['Batting_Strike_Rate'] = cricketDf['Batting_Strike_Rate'].fillna(0)

In [186]:
cricketDf['Batting_Average'] = cricketDf['Batting_Average'].fillna(0)

### So far, Dealt with all till Batting_Strike_Rate

In [187]:
cricketDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 1008 non-null   int64
 1   Player_Name          1008 non-null   object
 2   Matches_Batted       1008 non-null   int64
 3   Not_Outs             1008 non-null   int64
 4   Runs_Scored          1008 non-null   int64
 5   Highest_Score        1008 non-null   Int64
 6   Batting_Average      1008 non-null   float64
 7   Balls_Faced          1008 non-null   Int64
 8   Batting_Strike_Rate  1008 non-null   float64
 9   Centuries            1008 non-null   object
 10  Half_Centuries       1008 non-null   object
 11  Fours                1008 non-null   object
 12  Sixes                1008 non-null   object
 13  Catches_Taken        1008 non-null   object
 14  Stumpings            1008 non-null   object
 15  Matches_Bowled       1008 non-null   object
 16  Balls_Bowled         1008 non-null   object
 17  Runs_Conceded        1008 non-null   object
 18  Wickets_Taken        1008 non-null   object
 19  Best_Bowling_Match   1008 non-null   object
 20  Bowling_Average      1008 non-null   object
 21  Economy_Rate         1008 non-null   object
 22  Bowling_Strike_Rate  1008 non-null   object
 23  Four_Wicket_Hauls    1008 non-null   object
 24  Five_Wicket_Hauls    1008 non-null   object
 25  Batter_Not_Out       1008 non-null   bool
dtypes: Int64(2), bool(1), float64(2), int64(4), object(17)
memory usage: 200.0+ KB

In [188]:
colsToInt = ['Centuries', 'Half_Centuries', 'Fours', 'Sixes', 'Catches_Taken', 'Stumpings',
        'Matches_Bowled', 'Balls_Bowled', 'Runs_Conceded', 'Wickets_Taken',
        'Four_Wicket_Hauls', 'Five_Wicket_Hauls']

for col in colsToInt:
    cricketDf[col] = pd.to_numeric(cricketDf[col], errors="coerce").astype("Int64")
    cricketDf[col] = cricketDf[col].fillna(0)

In [189]:
cricketDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 1008 non-null   int64
 1   Player_Name          1008 non-null   object
 2   Matches_Batted       1008 non-null   int64
 3   Not_Outs             1008 non-null   int64
 4   Runs_Scored          1008 non-null   int64
 5   Highest_Score        1008 non-null   Int64
 6   Batting_Average      1008 non-null   float64
 7   Balls_Faced          1008 non-null   Int64
 8   Batting_Strike_Rate  1008 non-null   float64
 9   Centuries            1008 non-null   Int64
 10  Half_Centuries       1008 non-null   Int64
 11  Fours                1008 non-null   Int64
 12  Sixes                1008 non-null   Int64
 13  Catches_Taken        1008 non-null   Int64
 14  Stumpings            1008 non-null   Int64
 15  Matches_Bowled       1008 non-null   Int64
 16  Balls_Bowled         1008 non-null   Int64
 17  Runs_Conceded        1008 non-null   Int64
 18  Wickets_Taken        1008 non-null   Int64
 19  Best_Bowling_Match   1008 non-null   object
 20  Bowling_Average      1008 non-null   object
 21  Economy_Rate         1008 non-null   object
 22  Bowling_Strike_Rate  1008 non-null   object
 23  Four_Wicket_Hauls    1008 non-null   Int64
 24  Five_Wicket_Hauls    1008 non-null   Int64
 25  Batter_Not_Out       1008 non-null   bool
dtypes: Int64(14), bool(1), float64(2), int64(4), object(5)
memory usage: 211.8+ KB

In [190]:
colsToFloat = ['Bowling_Average', 'Economy_Rate', 'Bowling_Strike_Rate']

for col in colsToFloat:
    cricketDf[col] = cricketDf[col].replace("No stats", "0")
    cricketDf[col] = cricketDf[col].astype(float).fillna(0)

In [191]:
cricketDf['Player_Name'] = cricketDf['Player_Name'].astype(str)

In [192]:
cricketDf[['Best_Wickets','Best_Runs']] = cricketDf['Best_Bowling_Match'].str.split('/', expand=True)

In [193]:
cricketDf['Best_Wickets'] = pd.to_numeric(cricketDf['Best_Wickets'], errors='coerce')
cricketDf['Best_Runs'] = pd.to_numeric(cricketDf['Best_Runs'], errors='coerce')

In [194]:
cricketDf = cricketDf.drop('Best_Bowling_Match', axis=1)

In [196]:
cricketDf

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,Half_Centuries,Fours,Sixes,Catches_Taken,Stumpings,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls,Batter_Not_Out,Best_Wickets,Best_Runs
0,0,Aaron Hardie,0,0,0,0,0.00,0,0.00,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0,0,False,NaN,NaN
1,2024,Abdul Samad,16,2,182,37,18.20,108,168.52,0,0,15,11,9,0,16,0,0,0,0.00,0.00,0.00,0,0,True,0.0,NaN
2,2023,Abdul Samad,9,4,169,37,42.25,128,132.03,0,0,10,11,4,0,9,0,0,0,0.00,0.00,0.00,0,0,True,0.0,NaN
3,2022,Abdul Samad,2,0,4,4,2.00,7,57.14,0,0,0,0,1,0,2,6,8,0,0.00,8.00,0.00,0,0,False,0.0,8.0
4,2021,Abdul Samad,11,1,111,28,12.33,87,127.58,0,0,4,8,8,0,11,6,9,1,9.00,9.00,6.00,0,0,False,1.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,2016,Yuzvendra Chahal,13,0,0,0,0.00,0,0.00,0,0,0,0,4,0,13,295,401,21,19.09,8.15,14.04,1,0,False,4.0,25.0
1004,2015,Yuzvendra Chahal,15,2,1,1,0.00,1,100.00,0,0,0,0,4,0,15,281,415,23,18.04,8.86,12.21,0,0,True,3.0,40.0
1005,2014,Yuzvendra Chahal,14,2,1,1,0.00,1,100.00,0,0,0,0,3,0,14,330,386,12,32.16,7.01,27.50,0,0,True,2.0,17.0
1006,2013,Yuzvendra Chahal,1,0,0,0,0.00,0,0.00,0,0,0,0,0,0,1,24,34,0,0.00,8.50,0.00,0,0,False,0.0,34.0
1007,0,Zeeshan Ansari,0,0,0,0,0.00,0,0.00,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0,0,False,NaN,NaN

In [201]:
# check again for missing vals
cricketDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 1008 non-null   int64
 1   Player_Name          1008 non-null   object
 2   Matches_Batted       1008 non-null   int64
 3   Not_Outs             1008 non-null   int64
 4   Runs_Scored          1008 non-null   int64
 5   Highest_Score        1008 non-null   Int64
 6   Batting_Average      1008 non-null   float64
 7   Balls_Faced          1008 non-null   Int64
 8   Batting_Strike_Rate  1008 non-null   float64
 9   Centuries            1008 non-null   Int64
 10  Half_Centuries       1008 non-null   Int64
 11  Fours                1008 non-null   Int64
 12  Sixes                1008 non-null   Int64
 13  Catches_Taken        1008 non-null   Int64
 14  Stumpings            1008 non-null   Int64
 15  Matches_Bowled       1008 non-null   Int64
 16  Balls_Bowled         1008 non-null   Int64
 17  Runs_Conceded        1008 non-null   Int64
 18  Wickets_Taken        1008 non-null   Int64
 19  Bowling_Average      1008 non-null   float64
 20  Economy_Rate         1008 non-null   float64
 21  Bowling_Strike_Rate  1008 non-null   float64
 22  Four_Wicket_Hauls    1008 non-null   Int64
 23  Five_Wicket_Hauls    1008 non-null   Int64
 24  Batter_Not_Out       1008 non-null   bool
 25  Best_Wickets         1008 non-null   float64
 26  Best_Runs            1008 non-null   float64
dtypes: Int64(14), bool(1), float64(7), int64(4), object(1)
memory usage: 219.6+ KB

In [198]:
cricketDf[['Best_Wickets','Best_Runs']] = cricketDf[['Best_Wickets','Best_Runs']].fillna(0)

In [204]:
cricketDf['Year_dt'] = pd.to_datetime(cricketDf['Year'], format='%Y', errors='coerce')
cricketDf.describe()

,Year,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,Half_Centuries,Fours,Sixes,Catches_Taken,Stumpings,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls,Best_Wickets,Best_Runs,Year_dt
count,1008.000000,1008.000000,1008.000000,1008.000000,1008.0,1008.000000,1008.0,1008.000000,1008.0,1008.0,1008.0,1008.0,1008.0,1008.0,1008.0,1008.0,1008.0,1008.0,1008.000000,1008.000000,1008.000000,1008.0,1008.0,1008.000000,1008.000000,957
mean,1917.530754,9.445437,1.546627,136.751984,32.861111,16.939583,99.574405,98.156925,0.050595,0.738095,11.632937,6.085317,3.391865,0.125,9.483135,99.722222,136.258929,4.865079,19.145744,5.741796,13.252004,0.084325,0.020833,1.319444,14.139881,2019-09-20 15:38:56.050156544
min,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,2008-01-01 00:00:00
25%,2017.000000,4.000000,0.000000,2.000000,2.0,0.000000,4.0,50.000000,0.0,0.0,0.0,0.0,1.0,0.0,4.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,2017-01-01 00:00:00
50%,2020.000000,11.000000,1.000000,46.000000,23.0,14.315000,40.0,118.315000,0.0,0.0,3.0,2.0,3.0,0.0,11.0,36.5,55.0,1.0,16.600000,7.355000,12.525000,0.0,0.0,1.000000,13.000000,2021-01-01 00:00:00
75%,2023.000000,14.000000,2.000000,237.250000,59.0,28.312500,171.0,141.422500,0.0,1.0,19.0,10.0,5.0,0.0,14.0,192.0,274.5,9.0,30.250000,9.000000,22.000000,0.0,0.0,3.000000,24.000000,2023-01-01 00:00:00
max,2024.000000,19.000000,10.000000,973.000000,140.0,101.000000,640.0,333.330000,4.0,8.0,85.0,52.0,18.0,6.0,19.0,408.0,566.0,32.0,176.000000,36.000000,102.000000,3.0,1.0,6.000000,59.000000,2024-01-01 00:00:00
std,442.896404,5.412755,1.731136,172.665125,33.065319,16.451399,121.385303,61.455553,0.289539,1.339514,16.007886,8.459769,3.355207,0.633593,5.419787,120.752129,159.473287,6.628131,23.935191,4.770914,15.378213,0.321108,0.142897,1.452710,13.540746,NaN

In [206]:
cricketDf['Year_dt']

0             NaT
1      2024-01-01
2      2023-01-01
3      2022-01-01
4      2021-01-01
          ...
1003   2016-01-01
1004   2015-01-01
1005   2014-01-01
1006   2013-01-01
1007          NaT
Name: Year_dt, Length: 1008, dtype: datetime64[ns]

In [207]:
cricketDf.to_csv("cricket_data_mod.csv", index=0)